<% if  @book.try(:user).try(:email) != current_user.email %>
  <%= form_for([@book, @comment], remote: false) do |f| %>
    
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <br>
    <h3><strong>YOUR THOUGHTS ABOUT THE BOOK</strong></h3>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, placeholder: 'Comment title' %> 
    </p>
    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content, rows: 5, placeholder: 'Type your thoughts here...' %>
    </p>
    
    <small><font color="gray">
      Comments are moderated to ensure quality conversation. Your comment(s) will appear here when approved. 
    </font></small> <br><br>

    <%= f.submit "Book This Comment", class: "button small" %> 
    <br>
    <br>
  <% end %>
<% end %>

