<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title,  class: "editbook" %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, class: "editbook" %>
  </div>

  <div class="field">
    <%= form.label :pagecount %>
    <%= form.number_field :pagecount %>
  </div>

  <div class="control-group">
    <%= form.label "Status", class: 'control-label' %>
    <div class="controls">
      <%= form.select(:status_type, Book.status_types.keys.map {|role| [role.humanize,role]}) %>
    </div>
  </div>
  <br></br>

  <div class="actions">
    <%= form.submit :class=> 'btn info' %>
  </div>
<% end %>

<style>

.editbook, select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
</style>
